@font-face {
    font-family: 'URW Classico';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(./files/URWClassico-Regular.woff2) format('woff2'), url(./files/URWClassico-Regular.ttf) format('ttf');
}